# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv/
venv/

# PyCharm
.idea/

# macOS
.DS_Store

# Node
node_modules/

# Build artifacts
dist/
build/

# Logs
*.log

backend/data/raw/
backend/data/processed/
backend/data/benchmarks/